.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: 93vh;
    background: url(../assets/img/World_map.png)
}

/* Box1 section -------------------------------------------------------*/
.Box1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    background: #1da1f2;
    opacity: 0.9;
    color: #ffffff;    
}
.communicationList{
    align-items: center;
    align-self: center;
    margin-left: 10%;
    margin-top: 20%;
}
.communicationList ul{
    list-style-type: none;
}
.communicationList li{
    padding: 10px; overflow: auto;
}
.communicationList li:hover{
    cursor: pointer;  
}
.communicationList ul h3{
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
.communicationList li img{
    float: left; margin: 0 15px 0 0;
}

.svg{
    max-width:60px;
    line-height: 16px;
    filter: invert(1);
}

/* Box2 section -------------------------------------------------------*/
.Box2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    background: #ffffff;
    background: transparent;
    color: #14171a;
    align-items: center;
    align-self: center;
    margin-left: 24%;
    margin-top: 20%; 
}

.Box2 .box2{
    font-size: 15px;
    font-weight: bold;
}

.Box2 .box3{
    font-size: 18px; line-height: 24px;  
}

.Box2 .ButtonSignup, .ButtonLogin{
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 23px;
    padding: 6px 16px;
    width: 60%;
}
.Box2 .ButtonSignup{
    background: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
    display: block;
    margin-bottom: 16px;    
}
.Box2 .ButtonSignup:hover{
    background-color: #344FC4;
}
.Box2 .ButtonLogin{
    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    display: block;
    margin-bottom: 16px;
}
.Box2 .ButtonLogin:hover{
    background-color: #E9F3FE;
}
.Box2 .box1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.logo{
    display: inline-block;
    max-width:50px;
    line-height: 16px;
}
.BtnLogin{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #1da1f2;
    border-radius: 100px;
    color: #1da1f2;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 17px;
}
.BtnLogin:hover{
    background-color: #E9F3FE;
}

footer{
    text-align: center;
    padding: 10px;
    background: #ffffff;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px; line-height: normal; letter-spacing: normal;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}