/* Signup Section */
.signup-page,.login-page{
    background: #E5EBF0;
}
.signup-canvas,.login-canvas{
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 19%;
}
.signup-container,.login-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 12%;
}
.signup-container h1,.login-container h1 {
    padding: 40px 0 20px 0;
    font-size: 23px;
    line-height: .8;
    margin: 0;
}

.signup-container span{
    font-weight: lighter;
    font-size: 15px;
    color: #657786;
}
.signup-form input,.login-form input {
    display: block;
    padding: 4px;
    outline: 0;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 4px;
    width: 97%;
    max-width: 280px;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 20px;
}
.login-form input{
    margin-top: 20px;
}

.signup-form input:focus-within,.login-form input:focus-within{
    border: 1px solid #53b0ee;
}
.signup-bottomContent,.login-bottomContent{
    background: #f5f8fa;
}
.signup-bottomContent p,.login-bottomContent p{
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    margin: 2% 12%;
    color: #657786;
}
.signup-bottomContent a,.login-bottomContent a{
    text-decoration: none;
    color: #4888E8;
}
.signup-bottomContent a:hover,.login-bottomContent a:hover{
    text-decoration: underline;
}


