/* General styles */
.rejected-page {
    background: #ffffff;
}

/* report sidebar section */
.sidebar-nav {
    margin-top: -50px;
}
.rejected-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background: rgb(3, 20, 39);
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-top: 70px;
}

.rejected-sidebar li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    margin: 5px 0 0 0;
}
.rejected-sidebar li a.active {
    background-color: rgb(10, 90, 13);
    border-radius: 50px 0 0 0;
    color: white;
}
.rejected-sidebar li a:hover:not(.active) {
    background-color: rgb(153, 143, 143);
    color: white;
}


/* rejected section ----------------------------------------------------------------------------------------*/
.rejected-page .rejected-section{
    margin-left: 17%;
    padding: 0 16px;
    height: auto;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;  
}
.rejected-page .rejected-section h1{
    margin: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 15px;
    text-align: start;
    background: #535358;
}
/* red flag and intervention section -------------------------------------------------------------------------------------*/
.rejected-section .red-flags {
    background:rgb(61, 64, 71);
    margin: 70px 0 0 0;
    resize: both;
    overflow: auto;
}
.rejected-section .intervention {
    background: rgb(61, 64, 71);
    margin: 70px 0 0 5px;
    resize: both;
    overflow: auto;
}
.rejected-section .red-flags ul li {
    list-style: none;
    background: rgb(217, 226, 241);
    margin: 10px 5px 10px -35px;
    padding: 5px 5px 5px 5px;
    font-family: "Open Sans", open-sans, EmojiFontFace, helvetica, arial, sans-serif;  
    font-size: 13px;
    text-align: start;
    resize: both;
    overflow: auto;
}
.rejected-section .intervention ul li {
    list-style: none;
    background: #EAF8C0;
    margin: 10px 5px 10px -35px;
    padding: 5px 5px 5px 5px;
    font-family: "Open Sans", open-sans, EmojiFontFace, helvetica, arial, sans-serif;  
    font-size: 13px;
    text-align: start;
    resize: both;
    overflow: auto;
}
.rejected-section .red-flags .deleteBtn,.rejected-section .intervention .deleteBtn {
    background: rgb(180, 54, 84);
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    border: #ffffff 1px solid;
    border-radius: 3px;
    cursor: not-allowed;
}
.rejected-section .red-flags .editBtn,.rejected-section .intervention .editBtn {
    background: rgb(9, 161, 9);
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    border: #ffffff 1px solid;
    border-radius: 3px;
    cursor: not-allowed;
}
.rejected-section .red-flags .locationBtn,.rejected-section .intervention .locationBtn {
    border: none;
    background: none;
    outline: none;
    font-size: 11px;
    float: right;
}